{% extends "shared/base.html" %}

{% block title %}Login{% endblock %}


{% block scripts %}
<script>

    let wrongCred = document.getElementById("wrongCred");

    document.getElementById('loginForm').onsubmit = login;

    function login(event) {
        event.preventDefault();

        var data = new URLSearchParams();
        data.append("username", document.getElementById("username").value);
        data.append("password", document.getElementById("password").value);

        fetch("{{ link_to_login }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: data

        }).catch(error => {
            console.warn(error);
            return false;
        }).then((response) => {
            if (response.status == 200) {
                window.location = '/dashboard'
            }
        });
        wrongCred.hidden = false;
        wrongCred.innerText = "Invalid username or password. Please try again.";
        return false;
    }

</script>
{% endblock %}


{% block body %}
<div class="container-fluid vh-100">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light mt-5 w-30">
            <div class="container">
                <div class="text-center row">
                    <h2 class="text-primary">Log In</h2>
                </div>
                <form id="loginForm" class="row">
                    <div class="p-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input id="username" class="form-control" type="text" placeholder="username" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                            <input id="password" class="form-control" type="password" placeholder="password" required>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="text-primary align-middle text-decoration-none"
                                href="mailto:auth@authopie.com">Ask
                                for access</a>
                            <div class="">
                                <button id="loginButton" class="btn btn-primary text-center" type="submit">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row px-4">
                    <span hidden id="wrongCred" class="alert alert-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}