{% set trigger = request.url.path.split('/')[-1] == 'roles' %}

{% if trigger %}
{% extends "shared/nav.html" %}
{% block title %}Roles{% endblock %}
{% endif %}

{% block content %}
<div class="container">
    <h1 class="display-4">Roles</h1>
    <table class="table">
        <th>name</th>
        <th>scopes</th>
        {% for role in roles %}
        <tr>
            <td>{{ role.name }}</td>
            <td>
                {{role.scopes}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}